
<footer id="fh5co-footer" role="contentinfo" class="fh5co-section">
    <div class="container">
        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block">&copy; 2017 Anonymity Freelancing. All Rights Reserved.</small>
                    <small class="block">Designed by <a href="https://anonymityfreelancing.github.io" target="_blank">Anonymity Freelancing</a></small>
                </p>
                <p>
                    <ul class="fh5co-social-icons">
                        <li><a href="#"><i class="icon-twitter2"></i></a></li>
                        <li><a href="#"><i class="icon-facebook2"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble2"></i></a></li>
                    </ul>
                </p>
            </div>
        </div>

    </div>
</footer>