<hero-section
	title="About <em>our</em> Shop"
	subtitle="Brought to you by <a href='https://anonymityfreelancing.github.io' target='_blank'>Anonymity Freelancing</a>">
</hero-section>

<div id="fh5co-about" class="fh5co-section">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-pull-4 img-wrap animate-box" data-animate-effect="fadeInLeft">
				<img src="images/hero_1.jpeg" alt="Anonymity Freelancing">
			</div>
			<div class="col-md-6 col-md-push-2 animate-box">
				<div class="section-heading">
					<h2>Your comfortness, Our Passion</h2>
					<p>We exist since the evolution of the concept of modular kitchen and wardrobes.</p>
					<strong>Kitchen:</strong>
					<p>We provide carcasses  made out of BWP(Boiled Water Proof) with all sides laminated and four sides edge banded. The shutters with various finishes include laminated shutters with four sides edge banded, posforming shutters, rubber wood PU coating and lacquered shutters. Choices for the placement of sink, precise height if the storage of spaces, the finish of table tops, the location of gas cylinder, microwave oven, the textures and colours are thoroughly understood right at the start so that kitchen in mind turns into reality in your home. </p>

					<strong>Accessories:</strong>
					<p>We provide accessories of SS304 grade. Each unit is customized for storing different elements that needs to be stored in a work space. Be it pots and utensils or spoons and plates or oil bottles and spice containers, everything fits snugly into the kitchen.</p>
					<strong>Wardrobes:</strong>
					<p>Customized wardrobes to transform your living spaces into comfort, utility and style. A well designed and organized wardrobe can make your home easier to find what you are looking for and also ensures that clothing and other items are kept in optimum conditions. We design wardrobes in a variety of finishes and colours and can be incorporated with dressing, mirrors and speciality units.</p>
					<strong>Our other works:</strong>
					<p>Our works also extend in making of crockery units, book shelves, study tables and computer tables as per the customer’s requirements.</p>
				</div>
			</div>
		</div>
	</div>
</div>
