<hero-section
	title="Get <em>in</em> Touch"
	subtitle="Brought to you by <a href='https://anonymityfreelancing.github.io' target='_blank'>Anonymity Freelancing</a>">
</hero-section>

<div id="fh5co-contact" class="fh5co-section animate-box">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>Don't be shy, let's chat.</h2>
				<p>V.D.Ravishankar<br/>
				#32, V.V.Koil lane,<br/>
				Choolai, Chennai-600112. <br/>
				Mobile: <a href="tel://8939158825">8939158825</a><br/>
				Email: <a href="mailto:loguvdrs@gmail.com">loguvdrs@gmail.com</a></p>

				<p><a href="mailto:modularkitchen122@gmail.com" class="btn btn-primary btn-outline">Contact Us</a></p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-md-push-3 col-sm-6 col-sm-push-6">
				<form method="POST" action="https://formspree.io/modularkitchen122@gmail.com">
					<div class="row form-group">
						<div class="col-md-12">
							<label for="name">Your Name</label>
							<input type="text" name="name" class="form-control" id="name">
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<label for="mobile">Your Mobile</label>
							<input type="text" name="mobile" class="form-control" id="mobile">
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<label for="email">Your Email</label>
							<input type="text" name="email" class="form-control" id="email">
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<label for="requirements">Your Requirements</label>
							<textarea name="requirements" id="requirements" cols="30" rows="10" class="form-control"></textarea>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<input type="submit" class="btn btn-primary btn-outline btn-lg" value="Submit Form">
						</div>
					</div>

				</form>
			</div>
		</div>

	</div>
</div>
