<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image: url(images/hero_1.jpeg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="display-t js-fullheight">
                    <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
                        <h1>Go stylish with modular kitchen and wardrobes</h1>
                        <h2>To Suit your budget</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<div id="fh5co-featured-testimony" class="fh5co-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 animate-box img-to-responsive animate-box" data-animate-effect="fadeInLeft">
                    <img src="images/person_1.jpg" alt="">
            </div>
            <div class="col-md-7 animate-box" data-animate-effect="fadeInRight">
                <blockquote>
                    <p> &ldquo; A Room should never allow the eye to settle in one place. It should smile at you and create fantasy &rdquo;</p>
                    <p class="author"><cite>&mdash; Juan Montoya</cite></p>
                </blockquote>
            </div>
        </div>
    </div>
</div>
