<hero-section
	title="Go stylish with modular kitchen and wardrobes"
	subtitle="To Suit your budget">
</hero-section>


<div class="fh5co-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-push-1" style="text-align: center">
                <blockquote>
                    <p>
                        Modular kitchen starts from Rs.80,000  for individual client<br />
                        Special Project rates for builders of bulk orders <br/>
                        Drawing and consultations at free of cost(within Chennai limit)
                    </p>
                </blockquote>
                <h1>&nbsp;</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 animate-box img-to-responsive animate-box" data-animate-effect="fadeInLeft">
                    <img src="images/person_1.jpg" alt="">
            </div>
            <div class="col-md-7 animate-box" data-animate-effect="fadeInRight">
                <blockquote>
                    <p class="margin-top-200"> &ldquo; A Room should never allow the eye to settle in one place. It should smile at you and create fantasy &rdquo;</p>
                    <p class="author"><cite>&mdash; Juan Montoya</cite></p>
                </blockquote>
            </div>
        </div>
    </div>
</div>