<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image: url(images/hero_1.jpeg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="display-t js-fullheight">
                    <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
                        <h1>Material Specifications</h1>
						<h2>Brought to you by <a href="https://anonymityfreelancing.github.io" target="_blank">Anonymity Freelancing</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="fh5co-section">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-push-1 animate-box">
				<div class="section-heading">
                <p><strong>Carcass:</strong> <br/>
                    16mm thickness marine ply IS 710 grade(brand). <br/>
                    back panel with 6mm marine ply IS 710 grade (brand).
                </p>
                <p><strong>Carcass Lam. Colours:</strong> <br/> various options.</p>
                <p><strong>Shutters:</strong> <br/> 18mm thickness of shutters(lLaminated shutters,Posforming and                            rubber wood PU coating shutters).</p>
                <p><strong>Accessories:</strong> <br/> SS304 grade sourced from reputed branded companies with life time warranty period.</p>
                <p><strong>Granite:</strong> <br/> 18mm thick jet black granite with half round nosing as per drawing  specifications.</p>
                <p><strong>Sink:</strong> <br/> Single bowl or single bowl with drain board from branded companies.</p>
                <p><strong>Chimney:</strong> <br/> Sourced from Kaff, Faber, Kutchina.</p>
                <p><strong>Hinges, drawer channels and other hardwares:</strong> <br/> Sourced from branded companies.</p>
                <p><strong>Handles:</strong> <br/> SS long handle 8” &amp; 6” for base and wall units respectively.</p>
                <p><strong>Glass doors:</strong> <br/> Plain glass from Saint Gobain.</p>

				</div>
			</div>
		</div>
	</div>
</div>
