<hero-section
	title="Kids Study Table"
	subtitle="Brought to you by <a href='https://anonymityfreelancing.github.io' target='_blank'>Anonymity Freelancing</a>">
</hero-section>

<div class="fh5co-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-push-3 animate-box">
				<div class="section-heading">
                    <blockquote>
                    <p class="smaller">We design study tables for kids to experience the joy and comfortness of learning.</p>
                    </blockquote>
				</div>
			</div>
        </div>
    </div>
</div>
